# ─────────────
# Frontend
# ─────────────
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node
node_modules/
dist/
dist-ssr/
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store

# ────────────
# Backend
# ────────────
# Build results
**/bin/
**/obj/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio files
**/.vs/
**/.vscode/
*.vsidx
*.vsix

# Entity Framework
**/Migrations/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Environment configs
**/appsettings.Development.json
**/appsettings.Local.json

# Others
*.ntvs*
*.njsproj
*.sln
*.sw?
